@using GuitarChords.Models.Results;
@model ChordListResponse

<style>
    .cell 
    { 
        border: 1px solid black; 
        width: 50px;
        height:20px;
    } 
    .no-border {
        border: none;
        text-align: center;
        margin-bottom: 3px;
    }

    .dot {
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
        position: relative;
        top: -10px;
        margin: 0 auto;
        
    }

    .black-header
    {
        background-color:black;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        width: 10px;
        height: 20px;
        text-align: center;
    }
    .X
    {
        color: red;
        margin: 0 auto;
        font-size:15px;
        top: -10px;
        text-align: center;
    }
    .chordDiagram {
        height: 50px;
        overflow: visible;
    }
    .tr
    {
        height: 15px!important;
        background-color:sandybrown;
    }
    .close {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close:after, .close:before {
    content: '';
    height: 2px;
    width: 20px;
    background: red;
    display: block;
    position: absolute;
}

.close:after {
    transform: rotate(45deg);
}

.close:before {
    transform: rotate(-45deg);
}
</style>

<div class="container d-flex flex-wrap">
@foreach (var item in Model.FoundChordsDtos) {
    <div class="card" style="width: 18rem; margin:10px">
<div><p1>@item.ChordName</p1></div>

<table class="chordDiagram">
    <thead>
        <tr>
                <th class="no-border"></th>
            @for (int i = item.LowestFret; i <= item.HighestFret; i++)
                {
                    <th class="no-border">@i</th>
                }
        </tr>
    </thead>
    <tbody>
            <tr class="tr"><!-- FirstString -->
                <td class="black-header" style="position: relative; text-align: center;">
                    @if (item.FirstString == 0)
                    {
                        <div class="dot" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                    else if (item.FirstString == null)
                    {
                        <div class="close" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                </td>
                @for (int i = item.LowestFret; i <= item.HighestFret; i++)
                {
                    <td class="cell">
                        @if (item.FirstString == i)
                        {
                            <div class="dot"></div>
                        }
                    </td>
                }
            </tr>
            <tr class="tr"><!-- SecondString -->
                <td class="black-header" style="position: relative; text-align: center;">
                    @if (item.SecondString == 0)
                    {
                        <div class="dot" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                    else if (item.SecondString == null)
                    {
                        <div class="close" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                </td>
                @for (int i = item.LowestFret; i <= item.HighestFret; i++)
                {
                    <td class="cell">
                        @if (item.SecondString == i)
                        {
                            <div class="dot"></div>
                        }
                    </td>
                }
            </tr>
            <tr class="tr"><!-- ThirdString -->
                <td class="black-header" style="position: relative; text-align: center;">
                    @if (item.ThirdString == 0)
                    {
                        <div class="dot" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                    else if (item.ThirdString == null)
                    {
                        <div class="close" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                </td>
                @for (int i = item.LowestFret; i <= item.HighestFret; i++)
                {
                    <td class="cell">
                        @if (item.ThirdString == i)
                        {
                            <div class="dot"></div>
                        }
                    </td>
                }
            </tr>
            <tr class="tr"><!-- FourthString -->
                <td class="black-header" style="position: relative; text-align: center;">
                    @if (item.FourthString == 0)
                    {
                        <div class="dot" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                    else if (item.FourthString == null)
                    {
                        <div class="close" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                </td>
                @for (int i = item.LowestFret; i <= item.HighestFret; i++)
                {
                    <td class="cell">
                        @if (item.FourthString == i)
                        {
                            <div class="dot"></div>
                        }
                    </td>
                }
            </tr>
            <tr class="tr"> <!-- FifthString -->
                <td class="black-header" style="position: relative; text-align: center;">
                    @if (item.FifthString == 0)
                    {
                        <div class="dot" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                    else if (item.FifthString == null)
                    {
                        <div class="close" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                </td>
                @for (int i = item.LowestFret; i <= item.HighestFret; i++)
                {
                    <td class="cell">
                        @if (item.FifthString == i)
                        {
                            <div class="dot"></div>
                        }
                    </td>
                }
            </tr class="tr">
            <tr class="no-border"><!-- SixthString -->
                <td class="no-border" style="position: relative; text-align: center;">
                    @if (item.SixthString == 0)
                    {
                        <div class="dot" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                    else if (item.SixthString == null)
                    {
                        <div class="close" style="width: 15px; height: 15px; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);"></div>
                    }
                </td>
                @for (int i = item.LowestFret; i <= item.HighestFret; i++)
                {
                    <td class="cell" style="border: none;">
                        @if (item.SixthString == i)
                        {
                            <div class="dot"></div>
                        }
                    </td>
                }
            </tr>
        

    </tbody>
</table>
<div>
@if (User.IsInRole("admin"))
{
    <a asp-action="ShowUpdateChord" asp-route-id="@item.Id">Edit</a>
    <a asp-action="DeleteChord" asp-route-id="@item.Id">Delete</a>
}
    
</div>

<br/><br/>
</div>
}

</div>
<br/>
    
    @if (Model.SearchName==null)
    {
        <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
            <a asp-action="ChordList" asp-controller="Chord" asp-route-PageNumber="@i" class="page-link">@i</a>
            </li>
        }
        </ul>
    }
    else
    {
        <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
            <a asp-action="SearchChordResults" asp-controller="Chord" asp-route-PageNumber="@i" asp-route-SearchName="@Model.SearchName" class="page-link">@i</a>
            </li>
        }
        </ul>
    }