@model GuitarChords.Models.Chord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChordName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChordName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourthString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourthString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FifthString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FifthString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SixthString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SixthString)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
